@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400&family=Mulish:wght@300&family=Playfair+Display:wght@600&family=Cinzel:wght@800&family=Pirata+One&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}


@-webkit-keyframes flip-2-top {
  0% {
    -webkit-transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 0;
  }
}

@keyframes flip-2-top {
  0% {
    -webkit-transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    transform: translate(-50%, -50%) scaleY(.1) scaleX(0.8);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    transform: translate(-50%, 0%) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

html {
  background-color: #333;
  color: #eee;
  scroll-behavior: smooth;
}

:root {
  font-family: "Mulish", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5rem;
  background-color: #333;
  color: #fcfaf1;
  width: 100%;
}

body {
  margin: 15px 20px 0 28px;
}

.nooverflow {
  overflow: hidden;
  display: "";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
  background: rgba(66, 66, 66, 0);
}

::-webkit-scrollbar-thumb {
  background: #222;
  background: rgba(66, 66, 66, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.sidenav>* {
  position: fixed;
  transition: 0.3s;
  z-index: 999;
}

.sidenav a {
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
}

#home {
  left: 0;
  top: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

#home a {
  font-family: "Cinzel";
  font-size: 12px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  background-color: #000;
  border-radius: 100px;
  box-shadow: 0 0.285vh 0.86vh 0 rgba(0, 0, 0, 0.44), 0 1vh 2vh 0 rgba(0, 0, 0, 0.39);

}

#home:not(:hover) a {
  color: #000;
}

#home:not(:hover) {
  left: -44px;
}


.home-top,
.home-bottom {
  z-index: 999;
}

.home-button {
  margin: 0 .5rem;
}

.home-button:hover {
  color: #000;
  background-color: #ccc;
  border-radius: 100rem;
}

.toplist_wrapper,
.main-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

#header {
  font-family: "Cinzel", "Playfair Display";
  background-color: #333;
  padding: 0.89rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  /* position: fixed; */
  /* position: sticky; */
  /* top: 0; */
  transition: 0.3s;
  z-index: 666;
}

.floating {
  font-family: Mulish;
  position: absolute;
  z-index: 666;
  position: fixed;
  margin: 3rem;
  top: 4rem;
  right: 0;
}

#project {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.99);
  color: white;
  font-size: 1.1rem;
  text-align: left;
  padding: 2rem;
  line-height: 1.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
  z-index: 777;
}

#project p {
  padding-top: 6rem;
  max-width: 800px;
}

#bgfill {
  background-color: rgba(0, 0, 0, 1);
  color: #000;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 666;
}

#disp {
  display: none;
  width: 100%;
  height: 100%;
  padding: 30vh 0;
  background: rgba(166, 166, 166, 0.66);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  /* cursor: pointer; */
  z-index: 777;
}

#disp p {
  width: 80%;
  margin: auto;
  color: #222;
  text-shadow: 0 0 2.5em rgba(230, 200, 190, 0.3),
    0 0 0.5em rgba(225, 194, 184, 0.6);
}

.heart-Circle {
  border: 0px solid #000;
  border-radius: 260px;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;
}

.heart-Container {
  left: 11%;
  position: absolute;
  top: 20%;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.heart-Container.broken {
  left: 6%;
  top: 23%;
}

.heart {
  height: 90px;
  position: relative;
  width: 50px;
}

.heart:before,
.heart:after {
  background: #5e5154;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 80px;
  left: 50px;
  position: absolute;
  top: 4px;
  width: 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sides {
  float: left;
  position: relative;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.half {
  overflow: hidden;
  position: relative;
  width: 50px;
}

.right-Side .heart:after,
.right-Side .heart:before {
  left: -50px;
}

.points {
  position: absolute;
  top: 20px
}

.left-Side .points {
  left: 100%
}

.right-Side .points {
  right: 100%
}

.point {
  border-bottom: 8px solid transparent;
  border-left: 16px solid #5e5154;
  border-top: 8px solid transparent;
  height: 0;
  width: 0;
}

.right-Side .point {
  border-bottom: 8px solid transparent;
  border-left: none;
  border-right: 16px solid #5e5154;
  border-top: 8px solid transparent;
  position: relative;
}

.left-Side .point {
  left: -3px;
  position: relative;
  top: 3px;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.left-Side .pt1 {
  left: -5px;
  top: -4px;
  -moz-transform: rotate(29deg);
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.left-Side .pt2 {
  top: 1px;
}

.left-Side .pt3 {
  left: -5px;
  top: 4px;
  -moz-transform: rotate(-29deg);
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.left-Side .pt4 {
  left: -1vh;
  position: absolute;
  top: 5px;
  -moz-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.right-Side .point {
  right: -3px;
  top: -5px;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.right-Side .pt2 {
  top: -1vh;
}

.right-Side .pt3 {
  right: -5px;
  top: -.86vh;
  -moz-transform: rotate(-26deg);
  -webkit-transform: rotate(-26deg);
  transform: rotate(-26deg);
}

.broken .left-Side {
  margin-right: .86vh;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.broken .right-Side {
  margin-left: .86vh;
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

a {
  color: #fcfaf1;
}

.contentWrapper {
  margin: 0 1%;
}

.new {
  border: 1px rgba(0, 0, 0, 0);
}

#about {
  color: #fcfaf1;
}

#about {
  text-shadow: 0 0 30px rgba(230, 194, 184, 0.01),
    0 0 2.5em rgba(230, 194, 184, 0.01);
  padding: 4px;
  width: -moz-fit-content;
  width: fit-content;
}

#about:hover {
  text-shadow: 0 0 10px rgba(222, 222, 222, 0.8);
}

#date {
  margin-top: -1rem;
  display: none;
}

.note {
  text-align: justify;
  font-size: 90%;
  padding-bottom: .4rem;
  border-bottom: 1px dashed rgba(222, 222, 222, .4)
}

.note>b {
  cursor: pointer;
}

.note>a {
  display: inline-flex;
  margin-left: .5rem;
  cursor: pointer;
}

.note>div>p {
  margin: .4rem .8rem;
  display: list-itrem;
  list-style: inside lower-greek;
}

.showItem {
  display: "";
}

.dataTables_wrapper,
.filterSection {
  /* opacity: 0.0; */
}
/* ul { */
  /* padding-left: 50px */
/* } */

/* ul li { */
  /* padding-left: 50px */
/* } */

.hideItem {
  display: none;
}

.glow {
  color: #fffefd;
  animation: glow 2.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(230, 194, 184, 0.2),
      0 0 20px rgba(230, 194, 184, 0.1) 0 0 30px rgba(230, 194, 184, 0.01),
      0 0 2.5em rgba(230, 194, 184, 0.01), 0 0 50px rgba(230, 194, 184, 0.01),
      0 0 60px rgba(230, 194, 184, 0.01);
  }

  to {
    text-shadow: 0 0 20px rgba(192, 162, 153, 0.5),
      0 0 30px rgba(192, 162, 153, 0.1), 0 0 2.5em rgba(192, 162, 153, 0.05),
      0 0 50px rgba(192, 162, 153, 0.02), 0 0 60px rgba(192, 162, 153, 0.01),
      0 0 70px rgba(192, 162, 153, 0.01);
  }
}


.dataTables_paginate {
  background-color: #333;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 666;
  /* height: 2rem; */
}

.paginate_button {
  font-size: .9rem;
  box-sizing: border-box;
  min-width: 1.5rem;
  padding: 0 1.07rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5px .4rem 1.5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px rgba(111, 111, 111, 0.3) solid;
  border-radius: .285vh;
  background-color: #666;
}

.paginate_button:focus,
.paginate_button:active,
.paginate_button:hover,
.paginate_button.current {
  background-color: #444;
  color: #edc;
}

.paginate_button.current {
  border: 1px solid #999;
}

.paginate_button.disabled {
  color: #888;
  border: 1px solid transparent;
  pointer-events: none;
  box-shadow: none;
}

.dtsb-searchBuilder {
  margin: .6em 0 0 0%;
}

div.dtsb-searchBuilder div.dtsb-titleRow {
  margin: 0 0 0 2%;
  font-size: 1rem;
  position: relative;
  margin-bottom: .8rem;
}

div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll {
  top: 0;
  right: 0;
  position: absolute;
}

div.dtsb-searchBuilder div.dtsb-titleRow div.dtsb-title {
  font-weight: bold;
  margin-left: -1.8%;
  display: list-itrem;
  list-style-position: inside;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition option.dtsb-option,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data option.dtsb-option,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value option.dtsb-option {
  background-color: #666;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
  right: 0;
}

.dtsb-logicContainer {
  display: none;
}


div.dt-datetime {
  position: absolute;
  background-color: #222;
  z-index: 2050;
  border: 0px solid #ccc;
  box-shadow: 0 5px 2vh -5px rgba(0, 0, 0, 0.8);
  padding: 0 20px .86vh 20px;
  width: 275px;
  /* -webkit-animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  /* animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  /* transition: all .3s .3s cubic-bezier(.5, 0, .5, 1); */
  /* transition-property: opacity, transform; */
}


div.dt-datetime [hidden] {
  transition-delay: 0s;
  opacity: 0;
  transform: scale(0.8);
  -webkit-animation: scale-out-center 0.24s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.24s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


div.dt-datetime div.dt-datetime-date {
  float: left;
}

div.dt-datetime div.dt-datetime-title {
  position: relative;
  text-align: center;
  padding: 5px 0px 3px;
}

div.dt-datetime div.dt-datetime-iconLeft,
div.dt-datetime div.dt-datetime-iconRight,
div.dt-datetime div.dt-datetime-iconUp,
div.dt-datetime div.dt-datetime-iconDown {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
  overflow: hidden;
  box-sizing: border-box;
}

div.dt-datetime div.dt-datetime-buttons a {
  display: inline-block;
  padding: 0 .5em .5em .5rem;
  margin: 0;
  font-size: .9rem;
}

div.dt-datetime-iconLeft {
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

div.dt-datetime-iconRight {
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.dt-datetime-table {
  background-color: transparent;
  border: 1px solid transparent;
}

div.dtsb-searchBuilder button,
div.dtsb-searchBuilder select,
div.dtsb-searchBuilder input {
  background-color: transparent;
  color: #fed;
  border: transparent;
  font-size: 90%;
}

div.dt-datetime-label {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 5px .86vh;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}

div.dt-datetime-label select {
  position: absolute;
  top: .86vh;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

div.dt-datetime table td.selectable button {
  padding: 10px 16px;
  border-radius: .285vh;
}

div.dt-datetime table td.selectable button:hover {
  background: #ff8000;
  border-radius: .285vh;
}

div.dtsb-searchBuilder button.dtsb-button {
  color: #fed;
}

div.dt-datetime-iconLeft button,
div.dt-datetime-iconRight button,
div.dt-datetime-iconUp button,
div.dt-datetime-iconDown button {
  border: none;
  background: transparent;
  text-indent: 30px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dt-datetime-label {
  /* display: inline-grid; */
}

.dataTables_filter label input::-webkit-input-placeholder {
  color: #fed;
}

.dataTables_info {
  text-align: center;
  font-size: .88rem;
  background-color: #333;
  color: #fed;
  padding: .4rem 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2.34rem;
  z-index: 555;
}

.dataTables_length {
  color: #fed;
  position: relative;
}

.dataTables_length label {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dataTables_length select {
  background: #555;
  color: #fed;
}

#delete_button {
  position: fixed;
  right: -4.5rem;
  bottom: 1rem;
  padding: 1rem;
  border: 0;
  border-radius: 100px;
  background: #666;
  color: white;
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 1vh 2vh 0 rgba(0, 0, 0, 0.19);
  z-index: 999;
}

button#delete_button:active {
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

button#delete_button:hover {
  right: 0px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 1.2rem;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1rem;
  content: "↑";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5rem;
  content: "↓";
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

table {
  width: 100%;
  border: .285vh solid #666;
  background-color: #333;
  font-size: 0.9rem;
  table-layout: fixed;
  text-align: center;
}

tr.odd {
  background: rgba(60, 55, 50, .4);
}

.newlist {
  display: none;
  text-align: center;
  justify-items: center;
  font-size: .9rem;
  table-layout: initial;
}

.toplist a:hover,
.newlist a:hover {
  text-decoration: underline;
  color: #fed;
}

#tableHTML_column_2 {
  justify-items: center;
}

#tableHTML_column_4 {
  white-space: break-spaces;
  overflow: initial;
}

table ::-webkit-scrollbar {
  width: .86vh;
  height: .86vh
}


.newlist #footer {
  visibility:hidden;
}
.newlist tr th:nth-child(1) {
  pointer-events: none;
}
.newlist tr th:nth-child(1)::after,
.newlist tr th:nth-child(1)::before {
  visibility:hidden;
}
.newlist .group .prev:not(:hover),
.newlist .group .next:not(:hover) {
  opacity: .6;
}
.newlist .group .prev,
.newlist .group .next {
  cursor: pointer;
  text-align:left;
  justify-content: left;
}
.newlist .group .prev {
  text-align:right;
  justify-content: right;
}
.newlist .group td {
  border: transparent;
  padding: 1rem 0;
  font-size:.9rem;
  white-space: nowrap;
  overflow: hidden;
}
.newlist .group td:nth-last-child(1) {
  border-right: 1px solid #666;
}
.newlist td {
  padding: 0.75em 0.15em 0.75em 0.15rem;
}

.newlist td:not(:nth-child(1)) {
  text-overflow: ellipsis;
}

.newlist tbody tr {
  border-bottom: 1px solid #666;
}

.newlist tr.header,
.toplist tbody tr:hover,
.newlist tbody tr:not(.group):hover {
  background-color: #444;
  background-color: rgba(99, 99, 99, 0.6);
}

.newlist tr.selected {
  background-color: #654;
  background-color: rgba(109, 100, 98, 0.8);
}


.newlist th {
  padding: 1rem;
  text-overflow: ellipsis;
  background: #444;
}

/* .newlist thead tr:nth-child(1) { */
/* height: 0px; */
/* font-size: 1px; */
/* opacity: 0; */
/* } */
/* .newlist thead>tr:nth-child(1)>th:nth-child(1) { */
/* width: 15%; */
/* } */
/* .newlist thead>tr:nth-child(1)>th:nth-child(2) { */
/* width: 12%; */
/* } */
/* .newlist thead>tr:nth-child(1)>th:nth-child(3) { */
/* width: 30%; */
/* } */
/* .newlist thead>tr:nth-child(1)>th:nth-child(4) { */
/* width: 23%; */
/* } */
/* .newlist thead>tr:nth-last-child(1)>th:nth-child(1) { */
/* width: 15%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(2) { */
/* width: 10%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(3) { */
/* width: 10%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(4) { */
/* width:10%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(5) { */
/* width: 10%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(6) { */
/* width: 10%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(7) { */
/* width: 7%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(8) { */
/* width: 7%; */
/* } */

/* .newlist thead>tr:nth-last-child(1)>th:nth-child(9) { */
/* width: 6%; */
/* } */

.newlist thead>tr:nth-last-child(1) {}

.newlist thead>tr:nth-last-child(1) {
  border-top: 1px solid #555;
  border-bottom: 2px double #666;
  padding: .1em .8rem;
}

.newlist thead>tr:nth-last-child(1)>th {
  font-weight: normal;
}

.newlist thead>tr:nth-last-child(1)>th:nth-child(1),
.newlist thead>tr:nth-last-child(1)>th:nth-child(2) {
  font-weight: 600;
}

.newlist thead>tr:nth-last-child(1)>th:nth-last-child(1) {}

.dbtn {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("searchicon.png");
  background-position: 0.3125em 0.3125rem;
  background-repeat: no-repeat;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.ddbtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.grid_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_item .flex_item:not(:nth-child(1)) {
  border-top: 1px dashed #333;
}

.flex_item {
  /* display: inline-grid; */
}

.dd-c {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 1em 0px rgba(222, 222, 222, 0.2);
  z-index: 1;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  border: 1px solid rgba(111, 111, 111, .7);
  box-shadow: 0px 4px 1em 0px rgba(222, 222, 222, 0.1);
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -0%);
  -webkit-animation: flip-2-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-2-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


.dd-c a,
.dropdown a {
  color: #ffe;
  padding: .86vh 8px;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown i {
  position: absolute;
  align-self: center;
  right: 10%;
  font-size: .9em;
  opacity: .6;
}


.dd-c a:hover,
.dropdown a:hover {
  background-color: #666;
}

.dd:hover .dd-c,
.flex_item:hover .dropdown {
  display: block;
  -webkit-animation: slide-in-blurred-top 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


.hreftext {
  text-decoration: underline;
  cursor: pointer;
}

.extra {
  opacity: .4;
  margin-left: -1px;
  margin-right: -1px;
  white-space: nowrap;
  overflow: hidden;
}

.extra a {
  text-decoration: none;
  cursor: context-menu;
  pointer-events: none;
}


.ts {
  font-size: 95.5%;
}

.grid_item.ts {
  flex: 1 1 0;
  min-width: 0;
  padding: 0 10px;
}

.flex_item.ts {}

.fixed {
  overflow-y: overlay;
  overflow: hidden;
  flex: 1 1 0;
  opacity: .7;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* padding: .2rem 10px; */
}

.float {
  display: none;
}
.float:hover,
.fixed:hover~.float,
.newlist th:hover .float {
  display: block;
  position: absolute;
  background-color: #444;
  border: 1px solid rgba(111, 111, 111, .7);
  box-shadow: 0px .285vh .4em 0px rgba(111, 111, 111, 0.1);
  max-width: 300px;
  width: 200%;
  max-height: 66vh;
  font-size: .9rem;
  opacity: 1;
  overflow-y: auto;
  padding: .8rem;
  line-height: 2;
  -webkit-line-clamp: initial;
  z-index: 9;
  -webkit-animation: scale-in-top 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-top 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.newlist th:hover .float {
  left: 0;
  right: 0;
  bottom: 100%;
  font-size: .66rem;
  color:lightgray;
  padding: 1rem;
  line-height: 1rem;
  width: revert;
  border: 0px solid;
  border-radius: 1em;
  z-index: 999;
  background: rgba(46,46,46,.86);
}
.newlist th .float p{
  margin-block-start: .3rem;
  margin-block-end: .3rem;
}
}
.newlist th .float::first-line {
  font-weight: bold;
  padding-left:3em;
  font-variant: small-caps;
}

td hr {
  margin: 0 30%;
  border: .1px solid transparent;
  border-top: .1px solid #444;
}

td>img {
  width: 95%;
}


pre:not([class]) {
  background-color: #444;
  color: #fcfaf1;
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

pre code {
  padding: 0;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: .5rem;
}

.hide {
  display: none;
}

iframe {
  width: 100%;
  height: 100%
}

.iframewrapper {
  text-align: center;
  max-width: 900px;
  height: 500px
}

.wordcloud2 {
  background-color: #333;
}

#wordcloud {
  max-width: 100%;
}

*:focus {
  outline: none;
}

#glossary {
  margin-bottom: -.77em;
}

#glossary>* {
  cursor: pointer;
  align-self: flex-start;
}

#glossary strong {}

#glossary p {
  font-size: .9rem;
  margin-left: .4em;
}

.breaker {
  display: block;
  visibility: hidden;
  height: 8px;
}

.filterSection tbody {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}
.filterSection {
  display: grid;
  margin: .57em 0;
  font-size: .9rem;
  border: 0px transparent;
  text-align: left;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
}

.filterSection strong::before {
  content: "•";
  font-size: .8rem;
  /* margin-left: -0.5rem; */
  margin-right: .5rem;
}

.filterSection strong {
  align-items: center;
  display: flex;
  min-width: 4.3rem;
}


#label-filter select:hover,
#label-filter option:hover,
.filter-holder option:hover,
.filter-holder>*:not(.solid):hover {
  background: linear-gradient(#111, #333);
  background-color: #111 !important;
  color: #fed;

}

.filter-holder>*>* {
  border-radius: 4px;
  border-width: 0px;
  border-color: transparent;
  cursor: pointer;
}

.filter-holder>*:not(.filter-item),
.filter-holder select option {
  border-color: transparent;
  padding: .11rem .33rem;
  border-radius: 27px;
}

.filter-holder>*:not(:nth-last-child(1)),
.filter-holder select option {
  margin-right: .33rem;
}

.filter-holder>*:nth-last-child(1),
.filter-holder select option {}

.filter-holder>*,
.filter-holder select option {
  font-size: .8rem;
}

.filter-holder>.checkcontainer {
  display: grid;
  grid-template-rows: 1fr;
  /* grid-template-columns: 1em 1fr; */
  grid-auto-flow: column;
  /* grid-column-gap: .2rem; */
  align-items: center;
  cursor: pointer;
  width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .285vh;
}

.checkcontainer input {
  grid-column: 1 / span 3;
  grid-row: 1/span 1;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.filter-holder select {
  display: -webkit-box;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-color: transparent;
  /* padding: .2em 0; */
  color: #999;
}

.filter-holder select option:nth-of-type(1) {
  /* margin-right: .23rem; */
}

.filter-holder select option {
  background-color: #444;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 0.15rem .4rem;
  border-style: solid;
  border-color: #444 !important;
}

.filter-holder select option:hover,
.filter-holder select option:focus,
.filter-holder select option:active,
.filter-holder select option:checked:hover {
  background: linear-gradient(#222, #222);
  background-color: #222 !important;
  color: #ecb !important;
  border-color: #222 !important;
  background-color: #222 !important;
  box-shadow: 0 0 10px 10px #222 inset;
}

.filter-holder select option:checked {
  background: linear-gradient(#777, #777);
  background-color: #777 !important;
  color: #fff !important;
  border-color: #777 !important;
  box-shadow: 0 0 10px 10px #777 inset;
}

.filter-holder {
  display: inline-flex;
  overflow: hidden;
  max-width: 55vw;
  align-items: center;
}


.checkmark p {
  font-size: .88rem;
}

.checkmark {
  grid-column: 1 / span 1;
  grid-row: 1/span 1;
  justify-self: start;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.bubble:hover,
#datepicker:hover~.bubble {
  display: block;
  display: flex;

}

.bubble {
  display: none;
  align-items: center;
  position: absolute;
  background: #234;
  border-radius: .4rem;
  margin-left: 12.8rem;
  /* opacity: .2; */
  padding: 0.5em 1rem;
}

.bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.58em solid transparent;
  border-right-color: #234;
  border-left: 0;
  margin-top: -.5rem;
  margin-left: -0.6rem;
}

.filter-holder .fa>* {
  padding: 0;
  margin-left: 4px;
  align-self: center;
}

.newlist .fa {
  align-self: center;
  padding: 0;
  /* margin: 0; */
}

.filter-holder .fa:not(.fa-check-circle),
.checkcontainer .checkmark:before {
  opacity: .3;
}

.checkcontainer .checkmark:before {
  /* font-size: 1.3rem; */
}

.checkcontainer input:hover~.checkmark:before {
  color: lightblue;
}

.filter-holder .fa:hover,
.filter-holder .fa:focus,
.filter-holder .fa:active,
.checkcontainer input:checked~.checkmark:before {
  opacity: 1;
}

i:active,
option:active,
button:active {
  transform: translateY(1px);
}


#label-filter select {
  background: rgba(66, 66, 66, .9);
  padding: .31em .57rem;
  width: 22rem;
}



#datepicker,
#datecondition {
  height: 100%;
  width: 25vw;
  max-width: 8em;
  background: rgba(66, 66, 66, .9);
  color: transparent;
  text-align: center;
  text-shadow: 0px 0px 1px #fed;
}

#datecondition {
  max-width: 6em;
  text-shadow: 0px 0px 1px #9b9;
}

#dateclear,
#labelclear {
  color: gray;
  font-size: 1.1rem;
}



.unresult {
  display: none;
}

.toplist {
  font-size: 90%;
  width: 100%;
  border: 0px;
  box-shadow: 0 .285vh .86vh 0 rgba(0, 0, 0, 0.44), 0 1vh 2vh 0 rgba(0, 0, 0, 0.39);
}

.toplist thead th:not(:nth-child(0)) {
  display: none;
}

.toplist tbody tr {
  display: inline-grid;
  width: 50%;
  text-align: center;
  border-bottom: .2rem solid #666;
}

.toplist tbody td {
  display: grid;
  max-width: 400px;
  min-width: 450px;
  margin: auto;
  justify-items: center;
  border: .5px solid;
  border-color: #333 transparent;
  padding: 0.3rem 0;
}

.toplist td:nth-child(2)::before {
  content: "Album:";
}

.toplist td:nth-child(3)::before {
  content: "Band:";
}


.toplist td:nth-child(4)::before {
  content: "Country:";
}

.toplist td:nth-child(5)::before {
  content: "Genre:";
}

.toplist td:nth-child(6)::before {
  content: "Duration:";
}

.toplist td:nth-child(7)::before {
  content: "Release date:";
}

.toplist td:nth-child(8)::before {
  content: "Reviewer:";
}

.toplist td:nth-child(9)::before {
  content: "Rating Range:";
}

.toplist td:nth-child(10)::before {
  content: "Rating Mean:";
}

.toplist td:nth-child(11)::before {
  content: "Rating Sd:";
}

.toplist td::before {
  font-weight: 600;
  padding-left: 1px;
  width: 90%;
  border-bottom: 1px dotted #333;
}

.Genre>p {
  overflow-y: overlay;
  text-overflow: ellipsis;
  white-space: pre;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 0 10%;
  white-space: pre-wrap;
}

.Continent {
  visibility: hidden;
  height: .8rem;
}

.Genre::before,
.toplist td:not(:nth-child(0)) {
  line-height: 2.1rem;
}

.entry img {
  width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  padding: 1em 0;
}

td {
  max-width: 100%;
}


#Today:active {
  color: #fed;
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

#Today {
  border-radius: 4px;
  border-width: 1px;
  background: rgba(166, 166, 166, .6);
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 .285vh 8px 0 rgba(0, 0, 0, 0.19);
}


#all,
#reset {
  height: 100%;
  background: #777;
  /* color: white; */
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 1px .285vh 0 rgba(0, 0, 0, 0.14), 0 .285vh 8px 0 rgba(0, 0, 0, 0.19);
}


button#all:active,
button#reset:active {
  color: #fed;
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

#Reset {
  cursor: pointer;
}

#Reset:active {
  color: #fed
}

input {
  box-sizing: border-box;
}


.dt-datetime-table th {
  font-size: .9rem;
}

div.dt-datetime table td.selectable button {
  padding: 8px 10px;
  width: 100%;
  border-radius: .285vh;
  background: #333;
  color: white;
  border: none;
  font-size: .8rem;
}

div.dt-datetime-label span {
  font-size: .9rem;
}

.searchBox,
.dataTables_filter {
  width: 100%;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #222;
  border-radius: 0.4rem;
  color: #fff;
  box-sizing: border-box;
  transition: 0.2s;
  z-index: 666;
}

.dataTables_filter {
  width: 100%;
  padding: .2em 0;
  background-color: #333;
}

.dataTables_filter label input {
  display: inline-block;
  width: 100%;
  background-color: #222;
  padding: 12px 24px;
  font-size: .9rem;
  margin-bottom: 12px;
  border: 1px solid #666;
  border-radius: 0.4rem;
  top: 0;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
}

.footer {
  display: inline-block;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #333;
  padding: 1rem;
  width: 100%;
}

p {
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

/* .p1:nth-child(4) { */
/* height: 70px; */
/* } */

#showingInfo {
  margin: 0 0 0.8em 0;
}

.btn {
  display: inline-block;
  width: 24px;
  background-color: #444;
  color: #a99;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  padding: 11px 12px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.disabled {
  color: #777;
  background-color: #666;
  pointer-events: none;
}

.btn-primary {
  color: #fed;
  background-color: #666;
  border-color: #aaa;
}

.btn-primary:hover {
  color: #fed;
  background-color: #555;
  border-color: #aaa;
}

.btn-primary:active {
  color: #fed;
  background-color: #444;
  border-color: #777;
}

@media(max-width: 999px) {

  .newlist {
    table-layout: fixed;
  }
}

@media(min-width: 768px) {

  #tableHTML_column_3,
  #tableHTML_column_5,
  #tableHTML_column_4 {
    height: 1px;
  }

  .grid_wrapper {
    display: grid;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .grid_wrapper>div {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .grid_wrapper>div:not(:nth-child(1)) {
    border-top: .1px solid #444;
  }

  .grid_wrapper>div:nth-child(1) {
    /* padding-bottom: 1em ; */
  }

  .newlist td:not(:nth-child(1)) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .newlist td>img {
    min-width: 100px;
    max-width: 250px;
  }
}

@media(max-width: 767px) {

  :root {
    font-size: 100%;
    /* font-size: 4.45vw; */
    line-height: 1.6rem;
  }

  ::-webkit-scrollbar {
    width: .2rem;
  }

  body {
    margin: 1rem;
  }

  h4 {
    font-size: 95%;
  }

  #header {
    font-size: 1.5rem;
  }


  .toplist {
    font-size: .93rem;
    width: auto;
  }

  .toplist tr {
    max-width: 400px;
    min-width: 100%;
  }



  a#home:hover {
    font-size: .7rem;
    top: 2rem;
    left: 10px;
    width: 36px;
    height: 36px;
  }



  .filterSection,
  div.dtsb-searchBuilder div.dtsb-titleRow {
    /* font-size: .85rem; */
  }

  #datecondition {
    width: 20vw;
  }

  #label-filter select {
    width: 50vw;
  }

  .newlist {
    font-size: 1rem;
    justify-items: center;
    text-align: center;
  }

  .entry img,
  .newlist td img {
    max-width: 300px;
  }

  .entry img {
    width: 90%;
    height: auto;
    object-fit: contain;
  }

  .newlist th,
  .dataTables_length {
    display: none;
  }

  .newlist tbody tr {
    display: grid;
    border-bottom: 1px solid #666;
  }

  .newlist td {
    display: grid;
    justify-items: center;
    padding: .8rem;
    border: .5px solid;
    border-color: #333 transparent;
  }


  #content,
  .newlist {
    border: .285vh solid rgba(66, 66, 66, .4);
    box-shadow: 0 .285vh .86vh 0 rgba(0, 0, 0, 0.44), 0 1vh 2vh 0 rgba(0, 0, 0, 0.39);
  }

  #tableHTML_column_2 {
    white-space: normal;
  }

  #tableHTML_column_4 {
    white-space: normal;
  }

  #tableHTML_column_1 {
    padding-top: 2rem;
    justify-content: center;
  }
   .newlist tr.group {
    grid-auto-flow: column;
  }

 .newlist .group td:nth-child(1),
 .newlist .group td:nth-last-child(1) {
    display:none;
}
  /* #tableHTML_column_2:before, */
  .newlist tr:not(.group) td:nth-child(2)::before {
    content: "Title:";
  }

  .newlist tr:not(.group) td:nth-child(3)::before {
    content: "Band:";
  }


  .newlist tr:not(.group) td:nth-child(5)::before {
    content: "Asso. Acts:";
  }


  .newlist tr:not(.group) td:nth-child(4)::before {
    content: "Genre:";
  }

  .newlist tr:not(.group) td:nth-child(6)::before {
    content: "Label:";
  }

  .newlist tr:not(.group) td:nth-child(7)::before {
    content: "Type:";
  }

  .newlist tr:not(.group) td:nth-child(8)::before {
    content: "Date:";
  }

  .newlist tr:not(.group) td:nth-child(9)::before {
    content: "Earliest date:";
  }

  .newlist tr:not(.group) td:nth-child(7),
  .newlist tr:not(.group) td:nth-child(8),
  .newlist tr:not(.group) td:nth-child(9) {
    white-space: nowrap;
  }

  .newlist td::before {
    font-weight: 600;
    padding-left: 1px;
    padding-bottom: 1px;
    width: 90%;
    border-bottom: 1px dotted #333;
  }

  .ts {
    font-size: 96.5%;
  }

  .breaker {
    height: 10px;
  }

  .dd-c a,
  .dropdown a {
    padding: .5vh 4px;
  }

  .grid_wrapper {
    width: 100%;
  }

  .grid_item {
    display: flex;
    margin: 0 15%;
    align-items: center;
    justify-content: center;
  }

  .grid_item~.grid_item {
    border-top: .5px dashed #333;
  }

  .grid_item:before {
    margin-right: 1rem;
    text-align: end;
    opacity: .1;
  }

  .grid_item:after {
    opacity: 0;
    margin-left: 1rem;
  }

  .grid_item:nth-of-type(1):after,
  .grid_item:nth-of-type(1):before {
    content: "1.";
  }

  .grid_item:nth-of-type(2):after,
  .grid_item:nth-of-type(2):before {
    content: "2.";
  }

  .grid_item:nth-of-type(3):after,
  .grid_item:nth-of-type(3):before {
    content: "3.";
  }

  .grid_item:nth-of-type(4):after,
  .grid_item:nth-of-type(4):before {
    content: "4.";
  }

  .grid_item:nth-of-type(5):after,
  .grid_item:nth-of-type(5):before {
    content: "5.";
  }

  .grid_item:only-of-type:after,
  .grid_item:only-of-type:before {
    content: "";
  }

  .hreftext {
    margin-block-end: .3rem;
    margin-block-start: .3rem;
  }

  .grid_item.ts {
    width: 70%;
    margin: auto;
  }

  .flex_item.ts.fixed {
    padding: 4px 5%;
  }

  .flex_item.ts.fixed.float {
    padding: 4px 2vh;
  }

  .float:hover,
  .fixed:hover~.float {
    width: 90%;
    line-height: 1.8;
	font-size: .95rem;
  }

  .dropdown {
    min-width: 45vw;
  }

  .dataTables_info {
    font-size: .77rem;
  }

  .paginate_button {
    font-size: .8rem;
    /* padding: 0 .8rem; */
    margin: 0 1px .4rem 1px;
  }

  .dropdown a,
  .fixed a,
  .float a {
    pointer-events: none;
    text-decoration: none;
  }

  .actived:hover a {
    pointer-events: all;
  }
}