@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400&family=Mulish:wght@300&family=Playfair+Display:wght@600&family=Cinzel:wght@800&family=Pirata+One&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  background-color: #333;
  color: #eee;
  scroll-behavior: smooth;
}

:root {
  font-family: "Mulish", Arial, sans-serif;
  line-height: 20px;
  background-color: #333;
  color: #fcfaf1;
  width: 100%;
  font-size: 100%;
}

body {
  margin: 1em 2em 0 3.2em;
}

.nooverflow {
  overflow: hidden;
  display: "";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
  background: rgba(66, 66, 66, 0);
}

::-webkit-scrollbar-thumb {
  background: #222;
  background: rgba(66, 66, 66, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.sidenav a {
  position: absolute;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
}

a#home {
  font-family: "Cinzel";
  font-size: .8em;
  top: 2.5em;
  left: -115px;
  padding: 1.5em;
  /* line-height:3.3; */
  background-color: #000;
  border-radius: 100px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.44), 0 7px 15px 0 rgba(0, 0, 0, 0.39);
}

a#home:not(:hover) {
  width: 100px;
}

a#home:hover {
  left: 5px;
  width: 40px;
  height: 40px;
  /* padding: 2em 1.2em; */
  line-height: 3.3;
  border-radius: 50%;
}

.home-top,
.home-bottom {
  z-index: 999;
}

.home-button {
  margin;
  0 .5em;
}

.home-button:hover {
  color: #000;
  background-color: #ccc;
  border-radius: 100em;
}

.toplist_wrapper,
.main-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.container {
  width: 100%;
    margin: auto;
  max-width: 1000px;
  text-align: center;
}

#header {
  font-family: "Cinzel", "Playfair Display";
  background-color: #333;
  padding: 0.89em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  /* position: fixed; */
  /* position: sticky; */
  /* top: 0; */
  transition: 0.3s;
  z-index: 666;
}

.floating {
  font-family: Mulish;
  position: absolute;
  z-index: 666;
  position: fixed;
  margin: 3em;
  top: 4em;
  right: 0;
}

#project {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.99);
  color: white;
  font-size: 1.1em;
  text-align: left;
  padding: 2em;
  line-height: 1.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
  z-index: 777;
}

#project p {
  padding-top: 6em;
  max-width: 800px;
}

#bgfill {
  background-color: rgba(0, 0, 0, 1);
  color: #000;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 666;
}

#disp {
  display: none;
  width: 100%;
  height: 100%;
  padding: 30vh 0;
  background: rgba(166, 166, 166, 0.66);
  color: white;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  /* cursor: pointer; */
  z-index: 777;
}

#disp p {
  width: 80%;
  margin: auto;
  color: #222;
  text-shadow: 0 0 2.5em rgba(230, 200, 190, 0.3),
    0 0 0.5em rgba(225, 194, 184, 0.6);
}

.heart-Circle {
  border: 0px solid #000;
  border-radius: 260px;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;
}

.heart-Container {
  left: 11%;
  position: absolute;
  top: 20%;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.heart-Container.broken {
  left: 6%;
  top: 23%;
}

.heart {
  height: 90px;
  position: relative;
  width: 50px;
}

.heart:before,
.heart:after {
  background: #5e5154;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 80px;
  left: 50px;
  position: absolute;
  top: 4px;
  width: 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sides {
  float: left;
  position: relative;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.half {
  overflow: hidden;
  position: relative;
  width: 50px;
}

.right-Side .heart:after,
.right-Side .heart:before {
  left: -50px;
}

.points {
  position: absolute;
  top: 20px
}

.left-Side .points {
  left: 100%
}

.right-Side .points {
  right: 100%
}

.point {
  border-bottom: 8px solid transparent;
  border-left: 16px solid #5e5154;
  border-top: 8px solid transparent;
  height: 0;
  width: 0;
}

.right-Side .point {
  border-bottom: 8px solid transparent;
  border-left: none;
  border-right: 16px solid #5e5154;
  border-top: 8px solid transparent;
  position: relative;
}

.left-Side .point {
  left: -3px;
  position: relative;
  top: 3px;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.left-Side .pt1 {
  left: -5px;
  top: -4px;
  -moz-transform: rotate(29deg);
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.left-Side .pt2 {
  top: 1px;
}

.left-Side .pt3 {
  left: -5px;
  top: 4px;
  -moz-transform: rotate(-29deg);
  -webkit-transform: rotate(29deg);
  transform: rotate(29deg);
}

.left-Side .pt4 {
  left: -7px;
  position: absolute;
  top: 5px;
  -moz-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
}

.right-Side .point {
  right: -3px;
  top: -5px;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.right-Side .pt2 {
  top: -7px;
}

.right-Side .pt3 {
  right: -5px;
  top: -6px;
  -moz-transform: rotate(-26deg);
  -webkit-transform: rotate(-26deg);
  transform: rotate(-26deg);
}

.broken .left-Side {
  margin-right: 6px;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.broken .right-Side {
  margin-left: 6px;
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

a {
  color: #fcfaf1;
}

.contentWrapper {
  margin: 0 1%;
}

.new {
  border: 1px rgba(0, 0, 0, 0);
}

#about {
  color: #fcfaf1;
}

#about {
  text-shadow: 0 0 30px rgba(230, 194, 184, 0.01),
    0 0 2.5em rgba(230, 194, 184, 0.01);
  padding: 4px;
  width: -moz-fit-content;
  width: fit-content;
}

#about:hover {
  text-shadow: 0 0 10px rgba(222, 222, 222, 0.8);
}

#date {
  margin-top: -1em;
  display: none;
}

.note {
  /* margin: 1em 0; */
  text-align: justify;
  font-size: .9em;
  padding-bottom: .4em;
  border-bottom: 1px dashed rgba(222, 222, 222, .4)
}

.note>b {
  margin: .5em 0%;
  cursor: pointer;
}

.note>a {
  display: inline-flex;
  margin-left: .5em;
  cursor: pointer;
}

.note>div>p {
  margin: .5em .9em;
  display: list-item;
  list-style: inside lower-greek;
}

.showItem {
  display: "";
}

.dataTables_wrapper,
.filterSection {
  opacity: 0.0;

}



ul {
  padding-left: 50px
}

ul li {
  padding-left: 50px
}

.hideItem {
  display: none;
}

.glow {
  color: #fffefd;
  animation: glow 2.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(230, 194, 184, 0.2),
      0 0 20px rgba(230, 194, 184, 0.1) 0 0 30px rgba(230, 194, 184, 0.01),
      0 0 2.5em rgba(230, 194, 184, 0.01), 0 0 50px rgba(230, 194, 184, 0.01),
      0 0 60px rgba(230, 194, 184, 0.01);
  }

  to {
    text-shadow: 0 0 20px rgba(192, 162, 153, 0.5),
      0 0 30px rgba(192, 162, 153, 0.1), 0 0 2.5em rgba(192, 162, 153, 0.05),
      0 0 50px rgba(192, 162, 153, 0.02), 0 0 60px rgba(192, 162, 153, 0.01),
      0 0 70px rgba(192, 162, 153, 0.01);
  }
}


.dataTables_paginate {
  background-color: #333;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0 0 10px 0;
  z-index: 666;
}

.paginate_button {
  font-size: .9em;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.4em 1.2em;
  margin-left: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px rgba(111, 111, 111, 0.3) solid;
  border-radius: 2px;
  background-color: #666;
}

.paginate_button.current {
  background-color: #444;
  color: #edc;
  border: 1px solid #999;
}

.paginate_button.disabled {
  color: #888;
  /* background-color: #555; */
  border: 1px solid transparent;
  /* background: transparent; */
  pointer-events: none;
  box-shadow: none;
}

.dtsb-searchBuilder {
  margin: .6em 0 0 0%;
}

div.dtsb-searchBuilder div.dtsb-titleRow {
  margin: 0 0 0 2%;
  font-size: 1em;
  position: relative;
  margin-bottom: .8em;
}

div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll {
  top: 0;
  right: 0;
  position: absolute;
}

div.dtsb-searchBuilder div.dtsb-titleRow div.dtsb-title {
  font-weight: bold;
  margin-left: -1.8%;
  display: list-item;
  list-style-position: inside;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition option.dtsb-option,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data option.dtsb-option,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value option.dtsb-option {
  background-color: #666;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
  right: 0;
}

.dtsb-logicContainer {
  display: none;
}

div.dt-datetime {
  position: absolute;
  background-color: #222;
  z-index: 2050;
  border: 0px solid #ccc;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
  padding: 0 20px 6px 20px;
  width: 275px;
	-webkit-animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


div.dt-datetime div.dt-datetime-date {
  float: left;
}

div.dt-datetime div.dt-datetime-title {
  position: relative;
  text-align: center;
  padding: 5px 0px 3px;
}

div.dt-datetime div.dt-datetime-iconLeft,
div.dt-datetime div.dt-datetime-iconRight,
div.dt-datetime div.dt-datetime-iconUp,
div.dt-datetime div.dt-datetime-iconDown {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
  overflow: hidden;
  box-sizing: border-box;
}
div.dt-datetime div.dt-datetime-buttons a {
  display: inline-block;
  padding: 0 .5em .5em .5em;
  margin: 0;
  font-size: .9em;
}
div.dt-datetime-iconLeft {
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

div.dt-datetime-iconRight {
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.dt-datetime-table {
  background-color: transparent;
  border: 1px solid transparent;
}

div.dtsb-searchBuilder button,
div.dtsb-searchBuilder select,
div.dtsb-searchBuilder input {
  background-color: transparent;
  color: #fed;
  border: transparent;
  font-size: 90%;
}

div.dt-datetime-label {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 5px 6px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}

div.dt-datetime-label select {
  position: absolute;
  top: 6px;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

div.dt-datetime table td.selectable button {
  padding: 10px 16px;
  border-radius: 2px;
}

div.dt-datetime table td.selectable button:hover {
  background: #ff8000;
  border-radius: 2px;
}

div.dtsb-searchBuilder button.dtsb-button {
  color: #fed;
}

div.dt-datetime-iconLeft button,
div.dt-datetime-iconRight button,
div.dt-datetime-iconUp button,
div.dt-datetime-iconDown button {
  border: none;
  background: transparent;
  text-indent: 30px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dt-datetime-label {
  /* display: inline-grid; */
}

.dataTables_filter label input::-webkit-input-placeholder {
  color: #fed;
}

.dataTables_info {
  text-align: center;
  font-size: .88em;
  background-color: #333;
  color: #fed;
  padding: 12px 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 3em;
  z-index: 555;
}

.dataTables_length {
  color: #fed;
  position: relative;
}

.dataTables_length label {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dataTables_length select {
  background: #555;
  color: #fed;
}

#delete_button {
  position: fixed;
  right: -80px;
  bottom: 1em;
  padding: 1em;
  border: 0;
  border-radius: 100px;
  background: #666;
  color: white;
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
  z-index: 999;
}

button#delete_button:active {
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

button#delete_button:hover {
  right: 0px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 1.2em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "↑";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "↓";
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

table {
  width: 100%;
  border: 2px solid #666;
  background-color: #333;
  font-size: 0.9em;
  table-layout: fixed;
  text-align: center;
}

tr.odd {
  background: rgba(60, 55, 50, .4);
}

.release_info {
  text-align: center;
  justify-items: left;
}

.toplist tbody {}

#tableHTML_column_2 {
  justify-items: center;
}

#tableHTML_column_4 {
  white-space: break-spaces;
  overflow: initial;
}

table ::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

.release_info th:nth-child(1) {
  /* color: rgba(0, 0, 0, 0); */
}

.release_info td {
  padding: 0.75em 0.15em 0.75em 0.15em;
  border-top: 1px solid #666;
}

.release_info td:not(:nth-child(1)) {
  text-overflow: ellipsis;
}

.release_info tr {
  border-bottom: 0px solid #666;
}

.release_info tr.header,
table:not(.dt-datetime-table) tr:hover {
  background-color: #444;
  background-color: rgba(99, 99, 99, 0.6);
}

.release_info tr.selected {
  background-color: #654;
  background-color: rgba(109, 100, 98, 0.8);
}

.dbtn {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("searchicon.png");
  background-position: 0.3125em 0.3125em;
  background-repeat: no-repeat;
  color: white;
  padding: 1em;
  font-size: 1em;
  border: none;
}

.ddbtn {
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.grid_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid_item .flex_item:not(:nth-child(1)) {
  border-top: 1px dashed #333;
}
.flex_item{
	/* display: inline-grid; */
}
.dd-c {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 1em 0px rgba(222, 222, 222, 0.2);
  z-index: 1;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  border: 1px solid rgba(111,111,111,.7);
  box-shadow: 0px 4px 1em 0px rgba(222, 222, 222, 0.1);
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -0%);
}
.dropup {
display:none;
  font-size: 12.2px;
  transform: translate(50%, 0%);
  top: 0;
  box-shadow: 0 0 transparent;
  max-height: 150%;
  overflow: overlay;
  z-index: 2;
  right: 0;
  padding-bottom:8px;
}
.Info:hover .dropup {
	display:block;
}

.dropup .country {
  display: inline-grid;
  align-items: center;
  width:100%;
}
.dropup .bands {
  overflow-y: overlay;
  text-overflow: ellipsis;
  white-space: pre;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* width: 80%; */
  margin: auto;
  /* font-size: smaller */
}
.dd-c a,
.dropdown a {
  color: #ffe;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown i {
  position: absolute;
  right: 15%;
  font-size: .9em;
  opacity: .6;
}
.flex_item .fa-caret-right  {
  position: absolute;
  right: 0;
  align-self: center;
}
.dd-c a:hover,
.dropdown a:hover {
  background-color: #666;
}

.dd:hover .dd-c,
.flex_item:hover  .dropdown:not(.dropup) {
  display: block;
}
.flex_item .fa:hover ~ .dropup {
  display: block;
}

.hreftext {
  text-decoration: underline;
  cursor: pointer;
    padding-left: 3px;
  padding-right: 3px;
}
.extra {
  opacity: .4;
  margin-left: -1px;
  margin-right: -1px;
  white-space: nowrap;
  overflow: hidden;
}
.extra a {
    text-decoration: none;
	  cursor: context-menu;
}
.extra.ts {
}
.ts {
  font-size: 95%;
}
.grid_item.ts {
  flex: 1 1 0;
  min-width: 0;
	/* white-space: nowrap; */
    padding: 0 10px;
}
.flex_item.ts {
}
.fixed {
  overflow-y: overlay;
  overflow: hidden;
  flex: 1 1 0;
  opacity:.7;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 2px 10px;
}
.float {
	display:none;
}

 .float:hover,
.fixed:hover ~ .float {
display:block;
  position: absolute;
  background-color: #444;
  border: 1px solid rgba(111,111,111,.7);
  box-shadow: 0px 2px .4em 0px rgba(111, 111, 111, 0.1);
  max-width: 300px;
  width: 200%;
    opacity:1;
	font-size: 100%;
   line-height: 2;
  -webkit-line-clamp: initial;
  z-index: 9;
}


td hr {
  margin: 0 30%;
  border: .1px solid transparent;
  border-top: .1px solid #444;
}

td>img {
  width: 95%;
}

.release_info {
  display: none;
  font-size:13.8px;
}

.release_info tr {

}

.release_info th {
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.release_info th:nth-child(1) {
  width: 15%;
}

.release_info th:nth-child(2) {
  width: 10%;
}

.release_info th:nth-child(3) {
  width: 10%;
}

.release_info th:nth-child(4) {
  width:10%;
}

.release_info th:nth-child(5) {
  width: 10%;
}

.release_info th:nth-child(6) {
  width: 10%;
}

.release_info th:nth-child(7) {
  width: 6%;
}

.release_info th:nth-child(8) {
  width: 6%;
}

.release_info th:nth-child(9) {
  width: 6%;
}

.release_info th:nth-last-child(1) {
  /* width: 0%; */
}

.release_info tr>td:nth-last-child(1) {
  /* width: 0%; */
  /* display: none; */
}

pre:not([class]) {
  background-color: #444;
  color: #fcfaf1;
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

pre code {
  padding: 0;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: .5em;
}

.hide {
  display: none;
}

iframe {
  width: 100%;
  height: 100%
}

.iframewrapper {
  text-align: center;
  max-width: 900px;
  height: 500px
}

.wordcloud2 {
  background-color: #333;
}

#wordcloud {
  max-width: 100%;
}

*:focus {
  outline: none;
}

#glossary strong {
  cursor: pointer;
}

#glossary p {
  font-size: .9em;
  /* margin: .4em 0 0 2em; */
}

.breaker {
  display: block;
  visibility: hidden;
  height: 8px;
}

.filterSection {
  margin: .5em 0;
    display: grid;
  grid-template-columns: 5em 1fr;
  grid-auto-rows: 1fr;
}
.filterSection strong::before {
  content:"•";
    font-size: .8em;
  /* margin-left: -0.5em; */
  margin-right: .5em;
}
.filterSection strong {
display: flex;
 align-items: center;
   font-size: 90%;
}


.filter-holder option:hover,
.filter-holder>*:not(.solid):hover {
  background: linear-gradient(#111, #333);
  background-color: #111 !important;
    color: #fed;
	
}

.filter-holder>*>* {
	  border-radius: 4px;
	  border-width:0px;
  border-color: transparent;
  cursor: pointer;
}
	
/* #genre-options, */
.filter-holder>*:not(.filter-item),
.filter-holder select option {
border-color: transparent;
  /* border: 1px solid red; */
  /* box-shadow: 0 0 10px 10px lightblue inset; */
  padding: 2px 6px;
  border-radius: 27px;
}
.filter-holder>*:not(:nth-last-child(1)),
.filter-holder select option {
	margin-right:5.7px;
}
.filter-holder>*:nth-last-child(1),
.filter-holder select option {
	/* margin-left:-5px; */
}
.filter-holder>*,
 .filter-holder select option {
    font-size: 12px;
}
#genre-options option {
}

#genre-options {
}



.filter-item {
	
}
.filterSection select {
}

.checkcontainer p {
	   font-size: 1.1em;
}
.filter-holder>.checkcontainer {
  display: grid;
  grid-template-rows: 1fr;
  /* grid-template-columns: 1em 1fr; */
    grid-auto-flow: column;
  /* grid-column-gap: .2em; */
	  align-items: center;
  cursor: pointer;
    width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    padding: 2px;
}

.checkcontainer input {
  grid-column: 1 / span 3;
    grid-row: 1/span 1;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.filter-holder select {
	  display: -webkit-box;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
    border-color: transparent;
    /* padding: .2em 0; */
	color: #999;
}

.filter-holder select option:nth-of-type(1) {
    /* margin-right: .23em; */
}
.filter-holder select option {
  background-color: #444;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 3.1px; */
  /* margin-right: .23em; */
  border: .23em;
  border-style: solid;
    border-color: #444 !important;
}

.filter-holder select option:hover,
.filter-holder select option:focus,
.filter-holder select option:active,
.filter-holder select option:checked:hover {
  background: linear-gradient(#222, #222);
  background-color: #222 !important;
  color: #ecb !important;
  border-color: #222 !important;
  background-color: #222 !important;
    box-shadow: 0 0 10px 10px #222 inset;
}

.filter-holder select option:checked {
  background: linear-gradient(#777, #777);
  background-color: #777 !important;
  color: #fff !important;
  border-color: #777 !important;
  box-shadow: 0 0 10px 10px #777 inset; 
}
.filter-holder {
  display: inline-flex;
  /* align-items: center; */
  /* grid-template-rows: 1fr; */
  /* grid-auto-columns: 1fr; */
  /* grid-auto-flow: column; */
  /* width: fit-content; */
  overflow: hidden;
   font-size: .8em;
     align-items: center;
}


.checkmark {
	  grid-column: 1 / span 1;
	    grid-row: 1/span 1;
  justify-self: start;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.bubble:hover,
#datepicker:hover ~.bubble {
	display:block;
  display: flex;
	
}

 .bubble {
	 
	display:none;
  align-items: center;
  position: absolute;
  background: #234;
  border-radius: .4em;
  margin-left: 12.8em;
  /* opacity: .2; */
  padding: 0.5em 1em;
}

.bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.58em solid transparent;
	border-right-color: #234;
	border-left: 0;
  margin-top: -.5em;
  margin-left: -0.6em;
}

.filter-holder .fa >*{
	padding:0;
	margin-left:4px;
	align-self: center;
}

.filter-holder .fa {
	align-self: center;
	padding: 0;
  /* margin: 0; */
}
.filter-holder .fa:not(.fa-check-circle),
.checkcontainer .checkmark:before {
  opacity: .3;
}
.checkcontainer .checkmark:before {
  font-size: 1.3em;
}

.checkcontainer input:hover~.checkmark:before {
color:lightblue;
}

.filter-holder .fa:hover,
.filter-holder .fa:focus,
.filter-holder .fa:active,
.checkcontainer input:checked~.checkmark:before {
	opacity: 1;
}
i:active,
option:active,
button:active{
	  transform: translateY(1px);
}


#label-filter select {
  background: rgba(66, 66, 66, .9);
  padding: .31em .57em;
  width: 16em;
}


 
#datepicker,
#datecondition {
  height: 100%;
  width: 8em;
  /* border-radius: 3px; */
  background: rgba(66, 66, 66, .9);
  color: transparent;
  text-align: center;
  text-shadow: 0px 0px 1px #fed;
  /* border-width: 2px; */
  /* border-style: inset; */
  /* border-color: gray; */
}

#datecondition {
  width: 6em;
  text-shadow: 0px 0px 1px #9b9;
}

#dateclear,
#labelclear {
  color: gray;
  /* cursor: pointer; */
  font-size: 1.2em;
}
 


.unresult {
  display: none;
}

.toplist {

  width: 100%;
  border: 0px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.44), 0 7px 15px 0 rgba(0, 0, 0, 0.39);
}

.toplist thead th:not(:nth-child(0)) {
  display: none;
}
.toplist tr {
  display: inline-grid;
  max-width: 400px;
  min-width: 450px;
  text-align: center;
  /* padding-top: 2em; */
  /* border-top: 1px solid rgba(0, 0, 0, 0.24); */
  border-bottom: 2px solid #666;
}
.toplist td {
  display: grid;
  justify-items: center;
  /* padding-block-end: 1.1em; */
  border: .5px solid;
  border-color: #333 transparent;
}

 .toplist td:nth-child(2)::before {
   content: "Album:";
 }

 .toplist td:nth-child(3)::before {
   content: "Band:";
 }


 .toplist td:nth-child(4)::before {
   content: "Country:";
 }

 .toplist td:nth-child(5)::before {
   content: "Genre:";
 }

 .toplist td:nth-child(6)::before {
   content: "Duration:";
 }

 .toplist td:nth-child(7)::before {
   content: "Release date:";
 }

 .toplist td:nth-child(8)::before {
   content: "Reviewer:";
 }

 .toplist td:nth-child(9)::before {
   content: "Rating Range:";
 }

 .toplist td:nth-child(10)::before {
   content: "Rating Mean:";
 }

 .toplist td:nth-child(11)::before {
   content: "Rating Sd:";
 }
  .toplist td::before  {
	font-weight: bold;
    padding-left: 1px;
    width: 90%;
    border-bottom: 1px dotted #333;
  }

.Genre>p {
  overflow-y: overlay;
  text-overflow: ellipsis;
  /* height: 3.3em; */
  /* line-height: 1.8; */
  white-space: pre;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
     width: 80%;
}

.Continent {
  margin: -30px;
  visibility: hidden;
}
.Genre::before,
.toplist td:not(:nth-child(0)) {
  line-height: 2.5;
  /* white-space: nowrap; */
}

.entry img {
  width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  padding: 1em 0;
}

td {
  max-width: 100%;
}


#Today:active {
  color: #fed;
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

#Today {
    border-radius: 4px;
  border-width: 1px;
  background: rgba(166, 166, 166, .6);
  color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}


#all,
#reset {
  height: 100%;
  background: #777;
  /* color: white; */
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}


button#all:active,
button#reset:active {
  color: #fed;
  background: #555;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.34), 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

#Reset {
  cursor: pointer;
}

#Reset:active {
  color: #fed
}

input {
  box-sizing: border-box;
}


.dt-datetime-table th {
  font-size: .9em;
}

div.dt-datetime table td.selectable button {
  padding: 8px 10px;
  width: 100%;
  border-radius: 2px;
  background: #333;
  color: white;
  border: none;
  font-size: .8em;
}

div.dt-datetime-label span {
  font-size: .9em;
}

.searchBox,
.dataTables_filter {
  width: 100%;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #222;
  border-radius: 0.4em;
  color: #fff;
  box-sizing: border-box;
  transition: 0.2s;
  z-index: 666;
}

.dataTables_filter {
  width: 100%;
  padding: .2em 0;
  background-color: #333;
}

.dataTables_filter label input {
  display: inline-block;
  width: 100%;
  background-color: #222;
  padding: 12px 24px;
  font-size: 1em;
  margin-bottom: 12px;
  border: 1px solid #666;
  border-radius: 0.4em;
  top: 0;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
}

.footer {
  display: inline-block;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #333;
  padding: 1em;
  width: 100%;
}

p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

/* .p1:nth-child(4) { */
/* height: 70px; */
/* } */

#showingInfo {
  margin: 0 0 0.8em 0;
}

.btn {
  display: inline-block;
  width: 24px;
  background-color: #444;
  color: #a99;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  padding: 11px 12px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.disabled {
  color: #777;
  background-color: #666;
  pointer-events: none;
}

.btn-primary {
  color: #fed;
  background-color: #666;
  border-color: #aaa;
}

.btn-primary:hover {
  color: #fed;
  background-color: #555;
  border-color: #aaa;
}

.btn-primary:active {
  color: #fed;
  background-color: #444;
  border-color: #777;
}

@media(min-width: 768px) {

  #tableHTML_column_3,
  #tableHTML_column_5,
  #tableHTML_column_4 {
    height: 1px;
  }

  .grid_wrapper {
    display: grid;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .grid_wrapper>div {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .grid_wrapper>div:not(:nth-child(1)) {
    border-top: .1px solid #444;
  }

  .grid_wrapper>div:nth-child(1) {
    /* padding-bottom: 1em ; */
  }

  .genre_col {}

  .release_info td {
    padding-left: .2em;
    padding-right: .2em;
  }
}

@media(max-width: 767px) {

  :root {
    font-size: 105%;
	line-height:24px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  body {
    margin: 1em;
  }

  h4 {
    font-size: 95%;
  }

  #header {
    font-size: 1.5em;
  }

  #disp {
  }

  .toplist {
    width: auto;
  }

  .entry {
    max-width: 400px;
    min-width: 100%;
  }



  a#home:hover {
    font-size: .7em;
    top: 2em;
    left: 10px;
    width: 36px;
    height: 36px;
  }

  .contentWrapper {
    /* overflow: hidden; */
  }


  .filterSection,
  div.dtsb-searchBuilder div.dtsb-titleRow {
    font-size: .9em;
  }

  .release_info {
    justify-items: center;
    text-align: center;
  }
  .entry img,
  .release_info td img {
    max-width: 300px;
  }
  .entry img {
    width: 90%;
    height: auto;
    object-fit: contain;
  }
  
  .release_info th,
  .dataTables_length {
    display: none;
  }

  .release_info tr {
    display: grid;
    border-bottom: 1px solid #666;
  }

  .release_info td {
    display: grid;
    justify-items: center;
    padding: .8em;
    border: .5px solid;
    border-color: #333 transparent;
  }
 .release_info>* {
	 
 }
  #content,
  .release_info {
    border: 2px solid rgba(66, 66, 66, .4);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.44), 0 7px 15px 0 rgba(0, 0, 0, 0.39);
  }

  #tableHTML_column_2 {
    white-space: normal;
  }

  #tableHTML_column_4 {
    white-space: normal;
  }

  #tableHTML_header_1 {
    /* padding: 1em; */
  }

  #tableHTML_column_1 {
    padding-top: 2em;
    justify-content: center;
  }


  /* #tableHTML_column_2:before, */
 .release_info td:nth-child(2)::before  {
    content: "Title:";
  }

 .release_info td:nth-child(3)::before {
    content: "Band:";
  }


 .release_info td:nth-child(4)::before {
    content: "Related:";
  }
  

 .release_info td:nth-child(5)::before {
    content: "Genre:";
  }

 .release_info td:nth-child(6)::before {
    content: "Label:";
  }

 .release_info td:nth-child(7)::before {
    content: "Type:";
  }

 .release_info td:nth-child(8)::before {
    content: "Date:";
  }

 .release_info td:nth-child(9)::before {
    content: "Earliest date:";
  }
  .release_info td:nth-child(6),
  .release_info td:nth-child(7).
.release_info td:nth-child(8),
 .release_info td:nth-child(9) {
	   white-space: nowrap;
 }
  .release_info td::before {
	font-weight: bold;
    padding-left: 2px;
    padding-bottom: 2px;
    width: 90%;
    border-bottom: 1px dotted #333;
  }
  .release_info td::before ~ * {
  }
  #datepicker,
  #datecondition {
    /* font-size: .9em; */
  }

  .filter-holder select,
  #glossary p {
    /* left: 5.8em; */
  }

  .filter-holder select option,
  #label-filter select option {
    /* margin: 0 3px; */
    /* font-size: .88em; */
  }

  .breaker {
    height: 10px;
  }

  .dd-c a,
  .dropdown a {
    padding: 2px 4px;
  }

  .grid_wrapper {
    width: 100%;
  }

  .grid_item {
    display: flex;
    margin: 0 15%;
    align-items: center;
    justify-content: center;
    /* border-top: .5px dashed #333; */
    /* padding: .2em 2em; */
  }

  .grid_item~.grid_item {
    border-top: .5px dashed #333;
  }

  .grid_item:before {
    margin-right: 1em;
    text-align: end;
	/* color:#333; */
    opacity: .1;
  }

  .grid_item:after {
    opacity: 0;
    margin-left: 1em;
  }

  .grid_item:nth-of-type(1):after,
  .grid_item:nth-of-type(1):before {
    content: "1.";
  }

  .grid_item:nth-of-type(2):after,
  .grid_item:nth-of-type(2):before {
    content: "2.";
  }

  .grid_item:nth-of-type(3):after,
  .grid_item:nth-of-type(3):before {
    content: "3.";
  }

  .grid_item:nth-of-type(4):after,
  .grid_item:nth-of-type(4):before {
    content: "4.";
  }

  .grid_item:nth-of-type(5):after,
  .grid_item:nth-of-type(5):before {
    content: "5.";
  }

  .grid_item:only-of-type:after,
  .grid_item:only-of-type:before {
    content: "";
  }

  .hreftext {
    /* line-height: 1.8; */
    margin-block-end: .3em;
    margin-block-start: .3em;
  }

  .flex_item:not(:only-of-type) {}

  .flex_item:only-of-type {}
  
.extra {
  /* line-height: 1; */
  margin-top: -4px;
  /* margin-bottom: 8px; */
}
.extra.ts {
  /* margin: -2px; */
  /* margin-bottom: 8px; */
}
.grid_item.ts {
  width: 60%;
  margin: auto;
  /* text-align: justify; */
}
  .dataTables_info {
    font-size: .77em;
  }

  .dataTables_paginate {
    font-size: .88em;
  }
  
}
